<!--header-->
<header class="main-header" xmlns="http://www.w3.org/1999/html">
  <!-- logo-->
  <a href="index.html" class="logo-holder text-white mt-3"> XMILE</a>
  <!-- logo end-->
  <!-- header-search_btn-->
  <div class="header-search_btn show-search-button">
    <i class="fal fa-search"></i><span>Search</span>
  </div>
  <div style="margin-top:15px;padding-left: 10px" class="header-search-input location autocomplete-container">
    <label><i class="fa fa-caret-down"></i></label>
    <input style="width: 160px" type="text" placeholder="Choose Location" class="autocomplete-input"
      id="autocompleteid3" value="" />
  </div>

  <!-- lang-wrap end-->
  <!-- nav-button-wrap-->
  <div class="nav-button-wrap color-bg">
    <div class="nav-button"><span></span><span></span><span></span></div>
  </div>
  <!-- nav-button-wrap end-->
  <!--  navigation -->
  <div class="nav-holder main-menu">
    <nav>
      <ul class="no-list-style">
        <li>
          <a href="#" class="act-link">Home <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li><a href="index.html">Parallax Image</a></li>
            <li><a href="index2.html">Slider</a></li>
            <li><a href="index3.html">Slideshow</a></li>
            <li><a href="index4.html">Video</a></li>
            <li><a href="index5.html">Map</a></li>
          </ul>
          <!--second level end-->
        </li>
        <li>
          <a href="#">Listings <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li><a href="listing.html">Column map</a></li>
            <li><a href="listing2.html">Column map 2</a></li>
            <li><a href="listing3.html">Fullwidth Map</a></li>
            <li><a href="listing4.html">Fullwidth Map 2</a></li>
            <li><a href="listing5.html">Without Map</a></li>
            <li><a href="listing6.html">Without Map 2</a></li>
            <li>
              <a href="#">Single <i class="fa fa-caret-down"></i></a>
              <!--third  level  -->
              <ul>
                <li><a href="listing-single.html">Style 1</a></li>
                <li><a href="listing-single2.html">Style 2</a></li>
                <li><a href="listing-single3.html">Style 3</a></li>
                <li><a href="listing-single4.html">Style 4</a></li>
              </ul>
              <!--third  level end-->
            </li>
          </ul>
          <!--second level end-->
        </li>
        <li>
          <a href="blog.html">News</a>
        </li>
        <li>
          <a href="#">Pages <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li>
              <a href="#">Shop<i class="fa fa-caret-down"></i></a>
              <!--third  level  -->
              <ul>
                <li><a href="shop.html">Products</a></li>
                <li><a href="product-single.html">Product single</a></li>
                <li><a href="cart.html">Cart</a></li>
              </ul>
              <!--third  level end-->
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="author-single.html">User single</a></li>
            <li><a href="help.html">How it Works</a></li>
            <li><a href="booking.html">Booking</a></li>
            <li><a href="pricing-tables.html">Pricing</a></li>
            <li><a href="dashboard.html">User Dasboard</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
            <li><a href="dashboard-add-listing.html">Add Listing</a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
          <!--second level end-->
        </li>
      </ul>
    </nav>
  </div>
  <!-- navigation  end -->
  <!-- header-search_container -->
  <div class="header-search_container header-search vis-search">
    <div class="container small-container">
      <div class="header-search-input-wrap fl-wrap">
        <!-- header-search-input -->
        <div class="header-search-input">
          <label><i class="fal fa-keyboard"></i></label>
          <input type="text" placeholder="What are you looking for ?" value="" />
        </div>
        <!-- header-search-input end -->
        <!-- header-search-input -->
        <div class="header-search-input location autocomplete-container">
          <label><i class="fal fa-map-marker"></i></label>
          <input type="text" placeholder="Choose Location" class="autocomplete-input" id="autocompleteid2" value="" />
          <a href="#"><i class="fal fa-dot-circle"></i></a>
        </div>
        <!-- header-search-input end -->
        <!-- header-search-input -->
        <div class="header-search-input header-search_selectinpt">
          <select data-placeholder="Category" class="chosen-select no-radius">
            <option>All Categories</option>
            <option>All Categories</option>
            <option>Shops</option>
            <option>Hotels</option>
            <option>Restaurants</option>
            <option>Fitness</option>
            <option>Events</option>
          </select>
        </div>
        <!-- header-search-input end -->
        <button class="header-search-button green-bg" onclick="window.location.href='listing.html'">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
      <div class="header-search_close color-bg">
        <i class="fal fa-long-arrow-up"></i>
      </div>
    </div>

  </div>

  <!-- header-search_container  end -->
</header>

<!--header end-->
<section style="padding-top: 80px;padding-bottom: 0">
  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="leftImage">
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="rightSection">
        <div class="mainSectionRight">
          <button class="gamingButton">GAMING</button>
          <div class="heading">
            <p>TOP 10 BEST PHOTO HUNT OF ICE <br>RUGBY</p>
          </div>
          <div style="padding-top: 10px" class="iconsWithPost">
            <div>
              <i class="fa fa-user white"></i>
              <span class="iconinfo">SENDRA</span>
            </div>
            <div>
              <i class="fa fa-clock white"></i>
              <span class="iconinfo">DEC 24, 2016</span>
            </div>
          </div>
          <div>
            <p class="mattus">The standard Lorem Ipsum passage, used since the 1500s
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <button class="readMore">READ MORE</button>
        </div>
      </div>
    </div>
  </div>

</section>
<section style="padding: 0">
  <div class="trendingTab">
    <div class="container">
      <div class="contentHolder1">
        <div>
          <span class="iconic"><i style="color: white" class="fa fa-bolt-lightning"></i> TRENDING</span>
          <span class="infoPara">The 23 Best Beauty Moments From the Fall 2016 Runways</span>
        </div>
        <div style="display: flex">
          <div style="display: flex;gap: 10px;margin-top: -10px">
            <div class="circle2">
              <i style="margin: auto" class="fa fa-angle-left"></i>
            </div>
            <div class="circle2">
              <i style="margin: auto" class="fa fa-angle-right"></i>
            </div>
            <div style="padding-top: 12px">
              <span class="iconic"><i style="color: white" class="fa fa-bolt-lightning"></i> GUIDES</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section style="padding-top: 30px;padding-bottom: 0" id="sec1">
  <div class="section-title">
    <h2>Promoted Listings</h2>
    <span class="section-separator"></span>
    <p>Listings we recommend you visit</p>

    <div style="padding-bottom: 10px" class="main-search-input-tabs  tabs-act fl-wrap">
      <ul class="tabs-menu change_bg no-list-style">
        <li class="current"><a href="#tab-inpt1" data-bgtab="images/bg/hero/1.jpg"> Businesses</a></li>
        <li><a style="color: #697891" href="#tab-inpt2" data-bgtab="images/bg/hero/1.jpg"> Professionals</a></li>
        <li><a style="color: #697891" href="#tab-inpt3" data-bgtab="images/bg/hero/1.jpg"> Handymen</a></li>
        <li><a style="color: #697891" href="#tab-inpt4" data-bgtab="images/bg/hero/1.jpg"> Government</a></li>
      </ul>
    </div>
    <div style="text-align: center" class="listing-filters gallery-filters fl-wrap">
      <a class="gallery-filter gallery-filter-active" data-filter="*">Restaurants</a>
      <a class="gallery-filter" data-filter=".restaurant">Apparels</a>
      <a class="gallery-filter" data-filter=".hotels">Hotels</a>
      <a class="gallery-filter" data-filter=".events">Entertainment</a>
      <a class="gallery-filter" data-filter=".fitness">Fitness</a>
    </div>
  </div>

  <div class="listing-slider-wrap fl-wrap">
    <div class="listing-slider fl-wrap">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
        </div>
      </div>
      <div class="listing-carousel-button listing-carousel-button-next2">
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="listing-carousel-button listing-carousel-button-prev2">
        <i class="fas fa-caret-left"></i>
      </div>
    </div>
    <div class="tc-pagination_wrap">
      <div class="tc-pagination2"></div>
    </div>
  </div>
  <section class="section-zero-padding">
    <div class="">
      <a href="listing.html" class="btn dec_btn color2-bg">Check Out All Listings<i
          class="fal fa-arrow-alt-right"></i></a>
    </div>
  </section>
</section>
<section style="padding-top: 0">
  <div class="counterContainer">
    <div class="counter">
      <div class="container">
        <div class="counterBlock">
          <div>
            <p class="up">0</p>
            <p class="down">Business</p>
          </div>
          <div>
            <p class="up">0</p>
            <p class="down">Professionals</p>
          </div>
          <div>
            <p class="up">0</p>
            <p class="down">Handymen</p>
          </div>
          <div>
            <p class="up">0</p>
            <p class="down">Handymen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding: 0">
  <div>
    <p class="firstHead">Explore What To Do</p>
    <p class="secondHead">If You Give People The Opportunity To Do The Right Thing, You'll Rarely Be Disappointed</p>
  </div>
  <div class="container">
    <div class="gridView">
      <div class="row">
        <div style="margin-top:0 " class="col-lg-6">
          <div style="padding-left: 20px">
            <div class="oneOne">
              <div class="insideContent">
                <p class="tours">0 Listings</p>
                <p class="secondText2">Find : Business | Professionals | Handyman</p>
                <p style="cursor: pointer" class="secondText2"> Explore >></p>
              </div>
            </div>
            <div style="display: flex">
              <div class="twoOne">
                <div class="insideContent2">
                  <p class="tours">Image Marketplace </p>
                </div>
              </div>
              <div class="twoOne">
                <div class="insideContent2">
                  <p class="tours">Image Events </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Webinar</p>
            </div>
          </div>
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Blog </p>
            </div>
          </div>
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Marketplace </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Community </p>
            </div>
          </div>
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Deals & Coupons</p>
            </div>
          </div>
          <div class="twoTwo">
            <div class="insideContent2">
              <p class="tours">Image Jobs </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%;display: flex;justify-content: flex-end">
      <div>
        <a href="#" class="btn color2-bg    float-btn">Load More<i class="fal fa-chevron-right"></i></a>
      </div>
    </div>
  </div>

</section>
<section style="padding-top:100px">
  <div class="container">
    <div class="lastSection">
      <p class="littleHead">OUR SUPPORTERS</p>
      <div class="textBg">
        <p class="bgTextGrey">Sponsors</p>
      </div>

    </div>
    <p class="statement">Make Us Stronger To Strengthen Our Community </p>

    <div class="brandSwiper">

      <section class="gray-bg">
        <div class="container">
          <div class="clients-carousel-wrap fl-wrap">
            <div class="cc-btn cc-prev"><i class="fal fa-angle-left"></i></div>
            <div class="cc-btn cc-next"><i class="fal fa-angle-right"></i></div>
            <div class="clients-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section style="padding-top: 0;padding-bottom: 20px" class="gray-bg">
        <div class="container">
          <div class="clients-carousel-wrap fl-wrap">
            <div class="cc-btn cc-prev"><i class="fal fa-angle-left"></i></div>
            <div class="cc-btn cc-next"><i class="fal fa-angle-right"></i></div>
            <div class="clients-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                  <!--client-item-->
                  <div class="swiper-slide">
                    <img class="blackOnHover" src="assets/brand-8.png">
                  </div>
                  <!--client-item end-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<section style="padding-bottom: 0">
  <app-footer></app-footer>
</section>