<app-header></app-header>

<div id="wrapper">
  <!-- content-->
  <div class="content">
    <!--  section  -->
    <section class="parallax-section dashboard-header-sec gradient-bg" data-scrollax-parent="true">
      <div class="container">
        <div class="dashboard-breadcrumbs breadcrumbs"><a href="#">Home</a><a href="#">Dashboard</a><span>Main page</span></div>
        <!--Tariff Plan menu-->

      </div>


      <div class="gradient-bg-figure" style="right:-30px;top:10px;"></div>
      <div class="gradient-bg-figure" style="left:-20px;bottom:30px;"></div>
      <div class="circle-wrap" style="left:120px;bottom:120px;" data-scrollax="properties: { translateY: '-200px' }">
        <div class="circle_bg-bal circle_bg-bal_small"></div>
      </div>
      <div class="circle-wrap" style="right:420px;bottom:-70px;" data-scrollax="properties: { translateY: '150px' }">
        <div class="circle_bg-bal circle_bg-bal_big"></div>
      </div>
      <div class="circle-wrap" style="left:420px;top:-70px;" data-scrollax="properties: { translateY: '100px' }">
        <div class="circle_bg-bal circle_bg-bal_big"></div>
      </div>
      <div class="circle-wrap" style="left:40%;bottom:-70px;"  >
        <div class="circle_bg-bal circle_bg-bal_middle"></div>
      </div>
      <div class="circle-wrap" style="right:40%;top:-10px;"  >
        <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
      </div>
      <div class="circle-wrap" style="right:55%;top:90px;"  >
        <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
      </div>
    </section>


    <!--  section  end-->
    <!--  section  -->
    <section class="gray-bg main-dashboard-sec" id="sec1">
      <div class="container-fluid">
        <!--  dashboard-menu-->
        <div class="col-12 col-lg-12">
          <div class="mob-nav-content-btn color2-bg init-dsmen fl-wrap">
            <i class="fal fa-bars"></i> Dashboard menu
          </div>
          <div class="clearfix"></div>
          <div class="d-flex">
            <div
              ngbNav
              #nav="ngbNav"
              [(activeId)]="active"
              class="nav-pills flex-column"
              orientation="vertical"
              class="block_box"
            >
              <ng-container ngbNavItem="top">
                <button ngbNavLink>
                  <i class="fal fa-chart-line pr-4"></i> Terms & Conditions
                </button>

                <ng-template ngbNavContent>
                  <p>
                    The standard Lorem Ipsum passage, used since the 1500s
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum." Section 1.10.32 of "de
                    Finibus Bonorum et Malorum", written by Cicero in 45 BC "Sed
                    ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui
                    dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim
                    ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi
                    consequatur? <br /><br />Quis autem vel eum iure
                    reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla pariatur?" 1914 translation by H. Rackham
                    "But I must explain to you how all this mistaken idea of
                    denouncing pleasure and praising pain was born and I will
                    give you a complete account of the system, and expound the
                    actual teachings of the great explorer of the truth, the
                    master-builder of human happiness. No one rejects, dislikes,
                    or avoids pleasure itself, because it is pleasure, but
                    because those who do not know how to pursue pleasure
                    rationally encounter consequences that are extremely
                    painful. Nor again is there anyone who loves or pursues or
                    desires to obtain pain of itself, because it is pain, but
                    because occasionally circumstances occur in which toil and
                    pain can procure him some great pleasure. To take a trivial
                    example, which of us ever undertakes laborious physical
                    exercise, except to obtain some advantage from it? But who
                    has any right to find fault with a man who chooses to enjoy
                    a pleasure that has no annoying consequences, <br /><br />or
                    one who avoids a pain that produces no resultant pleasure?"
                    Section 1.10.33 of "de Finibus Bonorum et Malorum", written
                    by Cicero in 45 BC "At vero eos et accusamus et iusto odio
                    dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias
                    excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est
                    laborum et dolorum fuga. Et harum quidem rerum facilis est
                    et expedita distinctio. Nam libero tempore, cum soluta nobis
                    est eligendi optio cumque nihil impedit quo minus id quod
                    maxime placeat facere possimus, omnis voluptas assumenda
                    est, omnis dolor repellendus. Temporibus autem quibusdam et
                    aut officiis debitis aut rerum necessitatibus saepe eveniet
                    ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente
                    delectus, <br /><br />ut aut reiciendis voluptatibus maiores
                    alias consequatur aut perferendis doloribus asperiores
                    repellat." 1914 translation by H. Rackham "On the other
                    hand, we denounce with righteous indignation and dislike men
                    who are so beguiled and demoralized by the charms of
                    pleasure of the moment, so blinded by desire, that they
                    cannot foresee the pain and trouble that are bound to ensue;
                    and equal blame belongs to those who fail in their duty
                    through weakness of will, which is the same as saying
                    through shrinking from toil and pain. These cases are
                    perfectly simple and easy to distinguish. In a free hour,
                    when our power of choice is untrammelled and when nothing
                    prevents our being able to do what we like best, every
                    pleasure is to be welcomed and every pain avoided. But in
                    certain circumstances and owing to the claims of duty or the
                    obligations of business it will frequently occur that
                    pleasures have to be repudiated and annoyances accepted. The
                    wise man therefore always holds in these matters to this
                    principle of selection: he rejects pleasures to secure other
                    greater pleasures, or else he endures pains to avoid worse
                    pains."
                  </p>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem="middle">
                <button ngbNavLink>
                  <i class="fal fa-rss pr-4"></i> Privacy Policy
                </button>
                <ng-template ngbNavContent>
                  <p>
                    Exercitation +1 labore velit, blog sartorial PBR leggings
                    next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim
                    craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                    cillum PBR. Homo nostrud organic, assumenda labore aesthetic
                    magna delectus mollit. Keytar helvetica VHS salvia yr, vero
                    magna velit sapiente labore stumptown. Vegan fanny pack odio
                    cillum wes anderson 8-bit, sustainable jean shorts beard ut
                    DIY ethical culpa terry richardson biodiesel. Art party
                    scenester stumptown, tumblr butcher vero sint qui sapiente
                    accusamus tattooed echo park.
                  </p>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem="bottom">
                <button ngbNavLink>
                  <i class="fal fa-key pr-4"></i> Refund Policy
                </button>
                <ng-template ngbNavContent>
                  <p>
                    Sed commodo, leo at suscipit dictum, quam est porttitor
                    sapien, eget sodales nibh elit id diam. Nulla facilisi.
                    Donec egestas ligula vitae odio interdum aliquet. Duis
                    lectus turpis, luctus eget tincidunt eu, congue et odio.
                    Duis pharetra et nisl at faucibus. Quisque luctus pulvinar
                    arcu, et molestie lectus ultrices et. Sed diam urna, egestas
                    ut ipsum vel, volutpat volutpat neque. Praesent fringilla
                    tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum
                    euismod facilisis. Morbi ut bibendum est, eu tincidunt odio.
                    Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
                    aliquet ultricies in eget neque. Phasellus nec tortor vel
                    tellus pulvinar feugiat.
                  </p>
                </ng-template>
              </ng-container>
            </div>

            <div [ngbNavOutlet]="nav" class="ms-4"></div>
          </div>
        </div>
      </div>
    </section>
    <!--  section  end-->
    <div class="limit-box fl-wrap"></div>
  </div>
</div>

<app-footer></app-footer>
