<header class="main-header">
  <!-- logo-->

  <a href="index.html" class="logo-holder text-white mt-3">
    <img src="assets/logo.png" />
  </a>
  <!-- logo end-->
  <!-- header-search_btn-->
  <div class="header-search_btn show-search-button">
    <i class="fal fa-search"></i><span>Location</span>
  </div>

  <!-- lang-wrap end-->
  <!-- nav-button-wrap-->
  <div class="nav-button-wrap color-bg">
    <div class="nav-button"><span></span><span></span><span></span></div>
  </div>
  <div
    style="
      border-right: 1px solid rgba(255, 255, 255, 0.31);
      padding-right: 20px;
    "
    class="show-reg-form modal-open avatar-img"
    data-srcav="images/avatar/3.jpg"
  >
    <i class="fal fa-user"></i>Sign In
  </div>

  <!-- nav-button-wrap end-->
  <!--  navigation -->
  <div class="nav-holder main-menu">
    <nav id="test-nav" class="">
      <ul class="no-list-style">
        <li>
          <a>About <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li><a routerLink="/404">Ornda Agency</a></li>
            <li><a routerLink="/404">Xity Project </a></li>
            <li><a routerLink="/404">Board</a></li>
            <li><a routerLink="/404">Our Team</a></li>
            <li><a routerLink="/404">Our Investors</a></li>
          </ul>
          <!--second level end-->
        </li>
        <li>
          <a>Support <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li><a routerLink="/404">Contact Us</a></li>
            <li><a routerLink="/404">Feedback</a></li>
            <li>
              <a>Help Centre <i class="fa fa-caret-down"></i></a>
              <!--third  level  -->
              <ul>
                <li><a routerLink="/404">FAQ</a></li>
                <li><a routerLink="/404">Tutorials</a></li>
                <li><a routerLink="/404">Knowledge Base</a></li>
                <li><a routerLink="/404">Support Forum</a></li>
              </ul>
              <!--third  level end-->
            </li>
            <li>
              <a>Customer Care <i class="fa fa-caret-down"></i></a>
              <!--third  level  -->
              <ul>
                <li><a routerLink="/404">City Agents</a></li>
                <li><a routerLink="/404">Pincode Agents</a></li>
              </ul>
              <!--third  level end-->
            </li>
          </ul>
          <!--second level end-->
        </li>
        <li>
          <a>Others <i class="fa fa-caret-down"></i></a>
          <!--second level -->
          <ul>
            <li><a routerLink="/404">Location Directory</a></li>
            <li><a routerLink="/404">Markets </a></li>
            <li><a routerLink="/404">Pricing</a></li>
            <li><a routerLink="/legal">Legal</a></li>
          </ul>
          <!--second level end-->
        </li>
      </ul>
    </nav>
  </div>
  <!-- navigation  end -->
  <!-- header-search_container -->
  <div class="header-search_container header-search vis-search">
    <div class="container small-container">
      <div class="header-search-input-wrap fl-wrap">
        <div class="header-search-input header-search_selectinpt">
          <select
            data-placeholder="Select City"
            class="chosen-select no-radius"
          >
            <option>Select City</option>
            <option>Chennai</option>
            <option>Bengaluru</option>
            <option>Delhi</option>
            <option>Mumbai</option>
          </select>
        </div>

        <div class="header-search-input header-search_selectinpt">
          <select
            data-placeholder="Select Pincode"
            class="chosen-select no-radius"
          >
            <option>Select Pincode</option>
            <option>600114</option>
            <option>600112</option>
            <option>500114</option>
            <option>200114</option>
            <option>500114</option>
          </select>
        </div>
        <div class="">
          <div
            style="
              color: #ffffff;
              position: absolute;
              bottom: 20px;
              right: 68.5%;
              width: 50px;
            "
            class="or"
          >
            OR
          </div>
        </div>
        <!-- header-search-input end -->
        <button
          class="header-search-button green-bg"
          onclick="window.location.href='listing.html'"
        >
          <i class="fa fa-arrow-right"></i> Select
        </button>
      </div>
      <div class="header-search_close color-bg">
        <i class="fal fa-long-arrow-up"></i>
      </div>
    </div>
  </div>
  <!-- header-search_container  end -->
</header>
