<section class="blackBg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-12 col-sm-12 ">
        <div class="leftBlock">
          <div class="top-left">
            <div class="para">
              <p style="padding-left: 10px">Know the platform features by clicking on the suggestions below</p>
            </div>
          </div>

          <div class="single-slider-wrap">
            <div class="single-slider fl-wrap">
              <div style="width:100%" class="swiper-container">
                <div class="swiper-wrapper lightgallery">
                  <div class="swiper-slide">
                    <div class="bottom-left">





                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/editor.png"><br>
                          <span class="spanTag">Hotel</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/dinner.png"><br>
                          <span class="spanTag">Dinner</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/destination.png"><br>
                          <span class="spanTag">Destinations</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/cafe.png"><br>
                          <span class="spanTag">Coffee</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/bar.png"><br>
                          <span class="spanTag">Club and Bar</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/breakfast.png"><br>
                          <span class="spanTag">Breakfast</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="swiper-slide">
                    <div class="bottom-left">





                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/editor.png"><br>
                          <span class="spanTag">Hotel</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/dinner.png"><br>
                          <span class="spanTag">Dinner</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/destination.png"><br>
                          <span class="spanTag">Destinations</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/cafe.png"><br>
                          <span class="spanTag">Coffee</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/bar.png"><br>
                          <span class="spanTag">Club and Bar</span>
                        </div>
                      </div>
                      <div class="iconBox">
                        <div class="logoHolder-find">
                          <img style="width: 43px;padding-bottom: 5px;" src="assets/breakfast.png"><br>
                          <span class="spanTag">Breakfast</span>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="ss-slider-cont ss-slider-cont-prev color2-bg">
              <i class="fal fa-long-arrow-left"></i>
            </div>
            <div class="ss-slider-cont ss-slider-cont-next color2-bg">
              <i class="fal fa-long-arrow-right"></i>
            </div>
          </div>


        </div>
      </div>

      <div class="col-12 col-lg-6 col-md-12 col-sm-12 rel">
        <div style="height: 12vh;" class="top-right"></div>
        <div class="form-movement">
          <div class="form-list">
            <div class="form-contents">
              <div class="inner-form">
                <div class="form-heading">Search ListGo and Beyond</div>
                <div class="form-innercontent">Location</div>
                <div class="form-innercontent">Location</div>
                <div class="form-innercontent">Location</div>
                <div class="form-innercontent">Location</div>

                <div class="form-submit">
                  <button>Read More</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="circular">
          <i class="fa-solid fa-angle-down beech"></i>
        </div>

        <div class="header-page__scrolldown" data-scroll-down="#abc" style="opacity: 0.605078;"><i
            class="arrow_carrot-down"></i></div>
      </div>
    </div>
  </div>
</section>