 <div class="login-img">
  <div class="dropdown float-end custom-layout square-box"></div>
  <div class="square-box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="page login-img">
    <div class="main-error-wrapper text-white page page-h">
      <h1 class="text-white">404<span class="tx-20">error</span></h1>
      <h2 class="text-white">
        Oopps. The page you were looking for doesn't exist.
      </h2>
      <h6 class="text-white">
        You may have mistyped the address or the page may have moved.
      </h6>
      <a href="index.html" class="btn btn-outline-success">Back to Home</a>
    </div>
  </div>

  <!---->
</div>
<!--

<section class="parallax-section" data-scrollax-parent="true">
  <div
    class="bg par-elem"
    data-bg="assets/images/bg/1.jpg"
    data-scrollax="properties: { translateY: '30%' }"
  ></div>
  <div class="overlay op7"></div>
  &lt;!&ndash;container&ndash;&gt;
  <div class="container">
    <div class="video_section-title fl-wrap">
      <h4>Aliquam erat volutpat interdum</h4>
      <h2>
        Get ready to start your exciting journey. <br />
        Our agency will lead you through the amazing digital world
      </h2>
    </div>
    <a href="https://vimeo.com/70851162" class="promo-link big_prom image-popup"
      ><i class="fal fa-play"></i><span>Promo Video</span></a
    >
  </div>
</section>
&lt;!&ndash;section end&ndash;&gt;
&lt;!&ndash;section  &ndash;&gt;
<section data-scrollax-parent="true">
  <div class="container">
    <div class="section-title">
      <h2>How it works</h2>
      <div class="section-subtitle">Discover &amp; Connect</div>
      <span class="section-separator"></span>
      <p>
        Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus,
        ut tristique elit risus at metus.
      </p>
    </div>
    <div class="process-wrap fl-wrap">
      <ul class="no-list-style">
        <li>
          <div class="process-item">
            <span class="process-count">01 </span>
            <div class="time-line-icon">
              <i class="fal fa-map-marker-alt"></i>
            </div>
            <h4>Find Interesting Place</h4>
            <p>
              Proin dapibus nisl ornare diam varius tempus. Aenean a quam
              luctus, finibus tellus ut, convallis eros sollicitudin turpis.
            </p>
          </div>
          <span class="pr-dec"></span>
        </li>
        <li>
          <div class="process-item">
            <span class="process-count">02</span>
            <div class="time-line-icon">
              <i class="fal fa-mail-bulk"></i>
            </div>
            <h4>Contact a Few Owners</h4>
            <p>
              Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt
              metus lectus sollicitudin feugiat pharetra consectetur.
            </p>
          </div>
          <span class="pr-dec"></span>
        </li>
        <li>
          <div class="process-item">
            <span class="process-count">03</span>
            <div class="time-line-icon">
              <i class="fal fa-layer-plus"></i>
            </div>
            <h4>Make a Listing</h4>
            <p>
              Maecenas pulvinar, risus in facilisis dignissim, quam nisi
              hendrerit nulla, id vestibulum metus nullam viverra porta.
            </p>
          </div>
        </li>
      </ul>
      <div class="process-end"><i class="fal fa-check"></i></div>
    </div>
  </div>
</section>
&lt;!&ndash;section end&ndash;&gt;
&lt;!&ndash;section  &ndash;&gt;
<section class="gradient-bg hidden-section" data-scrollax-parent="true">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="colomn-text pad-top-column-text fl-wrap">
          <div class="colomn-text-title">
            <h3>Our App Available Now</h3>
            <p>
              In ut odio libero, at vulputate urna. Nulla tristique mi a massa
              convallis cursus. Nulla eu mi magna. Etiam suscipit commodo
              gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing
              elit.
            </p>
            <a href="#" class="down-btn color3-bg"
              ><i class="fab fa-apple"></i> Apple Store
            </a>
            <a href="#" class="down-btn color3-bg"
              ><i class="fab fa-android"></i> Google Play
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="collage-image">
          <img src="assets/images/api.png" class="main-collage-image" alt="" />
          <div class="assets/images-collage-title color2-bg icdec">
            <img src="assets/images/logo.png" alt="" />
          </div>
          <div
            class="assets/images-collage_icon green-bg"
            style="right: -20px; top: 120px"
          >
            <i class="fal fa-thumbs-up"></i>
          </div>
          <div class="collage-image-min cim_1">
            <img src="assets/images/api/1.jpg" alt="" />
          </div>
          <div class="collage-image-min cim_2">
            <img src="assets/images/api/1.jpg" alt="" />
          </div>
          <div class="collage-image-btn green-bg">Booking now</div>
          <div class="collage-image-input">
            Search <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gradient-bg-figure" style="right: -30px; top: 10px"></div>
  <div class="gradient-bg-figure" style="left: -20px; bottom: 30px"></div>
  <div
    class="circle-wrap"
    style="left: 270px; top: 120px"
    data-scrollax="properties: { translateY: '-200px' }"
  >
    <div class="circle_bg-bal circle_bg-bal_small"></div>
  </div>
  <div
    class="circle-wrap"
    style="right: 420px; bottom: -70px"
    data-scrollax="properties: { translateY: '150px' }"
  >
    <div class="circle_bg-bal circle_bg-bal_big"></div>
  </div>
  <div
    class="circle-wrap"
    style="left: 420px; top: -70px"
    data-scrollax="properties: { translateY: '100px' }"
  >
    <div class="circle_bg-bal circle_bg-bal_big"></div>
  </div>
  <div class="circle-wrap" style="left: 40%; bottom: -70px">
    <div class="circle_bg-bal circle_bg-bal_middle"></div>
  </div>
  <div class="circle-wrap" style="right: 40%; top: -10px">
    <div
      class="circle_bg-bal circle_bg-bal_versmall"
      data-scrollax="properties: { translateY: '-350px' }"
    ></div>
  </div>
  <div class="circle-wrap" style="right: 55%; top: 90px">
    <div
      class="circle_bg-bal circle_bg-bal_versmall"
      data-scrollax="properties: { translateY: '-350px' }"
    ></div>
  </div>
</section>
&lt;!&ndash;section end&ndash;&gt;
&lt;!&ndash;section  &ndash;&gt;
<section>
  <div class="container">
    <div class="section-title">
      <h2>Testimonilas</h2>
      <div class="section-subtitle">Clients Reviews</div>
      <span class="section-separator"></span>
      <p>
        Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a
        consectetur nulla.
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="testimonilas-carousel-wrap fl-wrap">
    <div class="listing-carousel-button listing-carousel-button-next">
      <i class="fas fa-caret-right"></i>
    </div>
    <div class="listing-carousel-button listing-carousel-button-prev">
      <i class="fas fa-caret-left"></i>
    </div>
    <div class="testimonilas-carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          &lt;!&ndash;testi-item&ndash;&gt;
          <div class="swiper-slide">
            <div class="testi-item fl-wrap">
              <div class="testi-avatar">
                <img src="assets/images/avatar/1.jpg" alt="" />
              </div>
              <div class="testimonilas-text fl-wrap">
                <div
                  class="listing-rating card-popup-rainingvis"
                  data-starrating2="5"
                ></div>
                <p>
                  "Vestibulum orci felis, ullamcorper non condimentum non,
                  ultrices ac nunc. Mauris non ligula suscipit, vulputate mi
                  accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor
                  sit amet sem non porta. "
                </p>
                <a href="#" class="testi-link" target="_blank">Via Facebook</a>
                <div class="testimonilas-avatar fl-wrap">
                  <h3>Andy Dimasky</h3>
                  <h4>Restaurant Owner</h4>
                </div>
              </div>
            </div>
          </div>
          &lt;!&ndash;testi-item end&ndash;&gt;
          &lt;!&ndash;testi-item&ndash;&gt;
          <div class="swiper-slide">
            <div class="testi-item fl-wrap">
              <div class="testi-avatar">
                <img src="assets/images/avatar/1.jpg" alt="" />
              </div>
              <div class="testimonilas-text fl-wrap">
                <div
                  class="listing-rating card-popup-rainingvis"
                  data-starrating2="5"
                ></div>
                <p>
                  "Vestibulum orci felis, ullamcorper non condimentum non,
                  ultrices ac nunc. Mauris non ligula suscipit, vulputate mi
                  accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor
                  sit amet sem non porta. "
                </p>
                <a href="#" class="testi-link" target="_blank">Via Twitter</a>
                <div class="testimonilas-avatar fl-wrap">
                  <h3>Frank Dellov</h3>
                  <h4>Hotel Owner</h4>
                </div>
              </div>
            </div>
          </div>
          &lt;!&ndash;testi-item end&ndash;&gt;
          &lt;!&ndash;testi-item&ndash;&gt;
          <div class="swiper-slide">
            <div class="testi-item fl-wrap">
              <div class="testi-avatar">
                <img src="assets/images/avatar/1.jpg" alt="" />
              </div>
              <div class="testimonilas-text fl-wrap">
                <div
                  class="listing-rating card-popup-rainingvis"
                  data-starrating2="5"
                ></div>
                <p>
                  "Vestibulum orci felis, ullamcorper non condimentum non,
                  ultrices ac nunc. Mauris non ligula suscipit, vulputate mi
                  accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor
                  sit amet sem non porta. "
                </p>
                <a href="#" class="testi-link" target="_blank">Via Facebook</a>
                <div class="testimonilas-avatar fl-wrap">
                  <h3>Centa Simpson</h3>
                  <h4>Restaurant Owner</h4>
                </div>
              </div>
            </div>
          </div>
          &lt;!&ndash;testi-item end&ndash;&gt;
          &lt;!&ndash;testi-item&ndash;&gt;
          <div class="swiper-slide">
            <div class="testi-item fl-wrap">
              <div class="testi-avatar">
                <img src="assets/images/avatar/1.jpg" alt="" />
              </div>
              <div class="testimonilas-text fl-wrap">
                <div
                  class="listing-rating card-popup-rainingvis"
                  data-starrating2="5"
                ></div>
                <p>
                  "Vestibulum orci felis, ullamcorper non condimentum non,
                  ultrices ac nunc. Mauris non ligula suscipit, vulputate mi
                  accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor
                  sit amet sem non porta. "
                </p>
                <a href="#" class="testi-link" target="_blank">Via Instagram</a>
                <div class="testimonilas-avatar fl-wrap">
                  <h3>Linda Svensky</h3>
                  <h4>Shop Owner</h4>
                </div>
              </div>
            </div>
          </div>
          &lt;!&ndash;testi-item end&ndash;&gt;
        </div>
      </div>
    </div>
    <div class="tc-pagination"></div>
  </div>
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgMiddle">
      <div
        class="wave-bg-anim waveMiddle"
        style="background-image: url('assets/images/wave-top.png')"
      ></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div
        class="wave-bg-anim waveBottom"
        style="background-image: url('assets/images/wave-top.png')"
      ></div>
    </div>
  </div>
</section>
&lt;!&ndash;section end&ndash;&gt;
&lt;!&ndash;section  &ndash;&gt;
<section class="gray-bg">
  <div class="container">
    <div class="clients-carousel-wrap fl-wrap">
      <div class="cc-btn cc-prev"><i class="fal fa-angle-left"></i></div>
      <div class="cc-btn cc-next"><i class="fal fa-angle-right"></i></div>
      <div class="clients-carousel">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
            &lt;!&ndash;client-item&ndash;&gt;
            <div class="swiper-slide">
              <a href="#" class="client-item"
                ><img src="assets/images/clients/1.png" alt=""
              /></a>
            </div>
            &lt;!&ndash;client-item end&ndash;&gt;
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
&lt;!&ndash;section end&ndash;&gt;

&lt;!&ndash;


 &ndash;&gt;
-->

