.question-box{
    background-color: gray;
    border-radius: 40px;

}
.question-heading{
    color: white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
}
.question-content{
    color: white;
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
}
.box-common{
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.elementor-1151 .elementor-element.elementor-element-fd74a8a .item-btn {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-wrap .item-btn {
    gap: 12px;
}
.item-btn {
    font-weight: 600;
    line-height: 21px;
    padding: 15px 28px;
    color: #fff;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    background-color: #ff3c48;
}
.question-button{
    padding: 30PX;
    margin-left: 30%;
}