<router-outlet></router-outlet>

<div id="circularMenu" class="circular-menu">
  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i class="fa fa-plus"></i>
  </a>

  <menu class="items-wrapper">
    <a href="#" class="menu-item"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a href="#" class="menu-item"><i class="fal fa-search"></i></a>
    <a href="#" class="menu-item"><i class="fal fa-search"></i></a>
    <a href="#" class="menu-item"><i class="fal fa-search"></i></a>
  </menu>
</div>



<!--<app-holmes></app-holmes>-->
<!--<app-error404></app-error404>-->
<!--<app-coming-soon></app-coming-soon>-->
<!-- <app-promo-banner></app-promo-banner>
<app-mobile-section></app-mobile-section>
<app-question-section></app-question-section> -->
<!-- <app-testimonial-review></app-testimonial-review> -->
<!-- <app-footer></app-footer> -->

<!-- <app-site-landingpage></app-site-landingpage> -->
<!-- <app-city-book></app-city-book> -->