<section>
  <div class="container">
    <div class="mainBlock">
      <div class="heading">
        <p class="topHeading">EXPLORE LATEST PINCODES / TOWNS</p>
      </div>
      <div class="mainGrid">
        <div class="left">
          <div class="imagecontainer">
            <img src="assets/big.jpg">
          </div>
          <div class="displayName">
            <div style="float: left">
              <span class="nameMain">Kansas</span><br>
              <span class="listingValue">4 listings</span>
            </div>
            <div class="circle" style="float: right">
              <i class="fa-solid fa-arrow-right centering"></i>
            </div>
          </div>
        </div>
        <div class="centre">
          <div style="margin-bottom: 10px;  border: 1px solid #ededed;
  border-radius: 6px;">
          <div class="repeater">
            <div class="extremeLeft">
                <img src="assets/kansas.jpg">
              <div style="padding-top: 5px;">
                <span class="nameMain">Kansas</span><br>
                <span class="listingValue">4 listings</span>
              </div>
            </div>
            <div class="extremeRight">
              <div class="circle" style="float: right">
                <i class="fa-solid fa-arrow-right centering"></i>
              </div>
            </div>
          </div>
          </div>

        <div style="margin-top: 33px!important;margin-bottom: 30px;  border: 1px solid #ededed;
  border-radius: 6px;">
          <div class="repeater">
            <div class="extremeLeft">
              <img src="assets/kansas.jpg">
              <div style="padding-top: 5px;">
                <span class="nameMain">Kansas</span><br>
                <span class="listingValue">4 listings</span>
              </div>
            </div>
            <div class="extremeRight">
              <div class="circle" style="float: right">
                <i class="fa-solid fa-arrow-right centering"></i>
              </div>
            </div>
          </div>
         </div>
          <div style="margin-top: 5px!important;margin-bottom: 33px;  border: 1px solid #ededed;
  border-radius: 6px;">
          <div class="repeater">
            <div class="extremeLeft">
              <img src="assets/kansas.jpg">
              <div style="padding-top: 5px;">
                <span class="nameMain">Kansas</span><br>
                <span class="listingValue">4 listings</span>
              </div>
            </div>
            <div class="extremeRight">
              <div class="circle" style="float: right">
                <i class="fa-solid fa-arrow-right centering"></i>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="right">

          <div style="margin-bottom: 10px;  border: 1px solid #ededed;
  border-radius: 6px;">
            <div class="repeater">
              <div class="extremeLeft">
                <img src="assets/kansas.jpg">
                <div style="padding-top: 5px;">
                  <span class="nameMain">Kansas</span><br>
                  <span class="listingValue">4 listings</span>
                </div>
              </div>
              <div class="extremeRight">
                <div class="circle" style="float: right">
                  <i class="fa-solid fa-arrow-right centering"></i>
                </div>
              </div>
            </div>
          </div>

          <div style="margin-top: 33px!important;margin-bottom: 30px;  border: 1px solid #ededed;
  border-radius: 6px;">
            <div class="repeater">
              <div class="extremeLeft">
                <img src="assets/kansas.jpg">
                <div style="padding-top: 5px;">
                  <span class="nameMain">Kansas</span><br>
                  <span class="listingValue">4 listings</span>
                </div>
              </div>
              <div class="extremeRight">
                <div class="circle" style="float: right">
                  <i class="fa-solid fa-arrow-right centering"></i>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 5px!important;margin-bottom: 33px;  border: 1px solid #ededed;
  border-radius: 6px;">
            <div class="repeater">
              <div class="extremeLeft">
                <img src="assets/kansas.jpg">
                <div style="padding-top: 5px;">
                  <span class="nameMain">Kansas</span><br>
                  <span class="listingValue">4 listings</span>
                </div>
              </div>
              <div class="extremeRight">
                <div class="circle" style="float: right">
                  <i class="fa-solid fa-arrow-right centering"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="additionalButtons">
      <button class="button2">pin code</button>
      <button class="button2">town name</button>
      <button class="button2">view all pincodes/towns </button>
    </div>
  </div>

  <div class="counterContainer">
  <div class="counter">
  <div class="container">
    <div class="counterBlock">
      <div>
        <p class="up">0</p>
        <p class="down">countries</p>
      </div>
      <div >
        <p class="up">0</p>
        <p class="down">cities</p>
      </div>
      <div>
        <p class="up">0</p>
        <p class="down">pin codes / towns</p>
      </div>
      <div>
        <p class="up">0</p>
        <p class="down">listing</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
