<section>
    <div style="position: relative; ">
        <div class="full-bg ">
            <div style="padding-top: 50px;padding-bottom: 50px;">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="imagediv">
                            <div class="images">
                                <div class="logo-div">
                                    <button class="logo-city">CITYBOOK

                                    </button>
                                </div>
                                <div class="image1"><img class="image1-img" src="/assets/images/citybook1.jpg"></div>
                                <div class="image2"><img class="img2" src="/assets/images/citybook2.jpg"></div>
                                <div class="image3"><img class="img3" src="/assets/images/citybook3-big.jpg"></div>
                                <div class="image4"><img class="img4" src="/assets/images/citybook4.jpg"></div>
                                <div class="image5"><img class="img5" src="/assets/images/citybook5.jpg"></div>



                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="city-heading">
                            Join our online community
                        </div>
                        <div class="city-subheading">
                            In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu
                            mi
                            magna. <br>Etiam suscipit
                            commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam<br>
                            nonu
                            mmy
                            nibh euismod tincidunt ut
                            laoreet dolore magna aliquam erat.
                        </div>
                        <div class="city-button"><button class="button-sign">SIGN IN NOW</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>