<section class="greyBg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="mainBlock">
          <div class="heading">
            <p class="orangePara">
              <b style="font-weight: bold">Join us</b> now!
            </p>
            <hr style="margin-left: 0px !important" />
          </div>
          <div class="subHeading">
            <p class="paraSubHeading" style="text-align: left">
              Join us and reap the benefits of Xity Platform!
            </p>
          </div>
          <div class="longPara">
            <p class="longParaText">
              <b>Our Purpose :</b> Connecting and Celebrating the community and
              economy via local networks. Through digital services and direct
              support, we strive to inspire residents and visitors alike to
              invest in our unique local businesses and contribute to the
              sustainable growth of our region. Empowering Local Businesses
              responsible for employment, and core drivers of our economy.
            </p>
          </div>

          <div class="row mt-4">
              <div class="col-12 col-lg-6 mainIcons">
                <i class="fa-4x fa-solid fa-address-book size"></i>
                <span data-ico-logistic="" class="bt_bb_icon_holder"></span>
                <div>
                  <p class="firstName">Community</p>
                  <p class="endName">
                    Instantly connect with your community. Relevant news and
                    information from locals, businesses, government, and public
                    agencies in real time. A secure environment where all locals
                    are verified.
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mainIcons">
                <i class="fa-4x fa-solid fa-folder size"></i>
                <span data-ico-logistic="" class="bt_bb_icon_holder"></span>
                <div>
                  <p class="firstName">Directory</p>
                  <p class="endName">
                    Improve your visibility among local community. The vast
                    benefits that make listing your business on xity not just a
                    good idea, but a basic requirement of online marketing.
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mainIcons">
                <i class="fa-4x fa-solid fa-signal size"></i>
                <span data-ico-logistic="" class="bt_bb_icon_holder"></span>
                <div>
                  <p class="firstName">Online services</p>
                  <p class="endName">
                    Bringing content around a shared common purpose for
                    expansive online collaboration and growth. Learn, share and
                    collaborate with the community. Xity helps to facilitate the
                    change.
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-6 mainIcons">
                <i class="fa-4x fa-solid fa-store size"></i>
                <span data-ico-logistic="" class="bt_bb_icon_holder"></span>
                <div>
                  <p class="firstName">Marketplace</p>
                  <p class="endName">
                    The magic is how we locally connect people and build
                    communities to create economic opportunity for all. Our
                    tools and services make it easy to manage, promote and grow
                    your business.
                  </p>
                </div>
              </div>        
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 joinImage">
        <img src="assets/bello.png" />
      </div>
    </div>
  </div>
</section>