<app-header></app-header>


<section style="margin-top: 0;padding-top: 80px;padding-bottom: 0">
  <section class="hero-section" data-scrollax-parent="true" style="margin-top: 0;padding-top: 0">
    <div class="bg-tabs-wrap">
      <div class="bg-parallax-wrap" data-scrollax="properties: { translateY: '200px' }">
        <video id="background-video" playsinline loop autoplay [muted]="true">
          <source src="/assets/video/vi.mp4" type="video/mp4" />
        </video>
        <div class="bg bg_tabs" style="background: url('/assets/video/vi.mp4')"></div>
        <div class="overlay op7"></div>
      </div>
    </div>
    <div class="container small-container">
      <div class="intro-item fl-wrap">
        <span class="section-separator"></span>
        <div class="bubbles">
          <h1>B*Found | Find*X</h1>
        </div>
        <h3>Find Anything Around You.</h3>
      </div>

      <div class="hero-categories fl-wrap mt-5">
        <h4 class="hero-categories_title">Discover This Location</h4>
        <div class="box-searchIcon container">
          <div>
            <div class="first-searchIcon">
              <i class="fal fa-business-time expand1-searchIcon"></i>
            </div>
            <div>
              <p style="padding-left: 10px; color: white">Businesses</p>
            </div>
          </div>
          <div>
            <div class="first2-searchIcon">
              <i class="fal fa-user-tie expand2-searchIcon"></i>
            </div>
            <div>
              <p style="padding-left: 5px; color: white">Professionals</p>
            </div>
          </div>
          <div>
            <div class="first3-searchIcon">
              <i class="fal fa-baseball-ball expand3-searchIcon"></i>
            </div>
            <div>
              <p style="padding-left: 10px; color: white">Handymen</p>
            </div>
          </div>
          <div>
            <div class="first4-searchIcon">
              <i class="fal fa-business-time expand4-searchIcon"></i>
            </div>
            <div>
              <p style="padding-left: 5px; color: white">Government</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-sec-link">
      <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>
    </div>
  </section>
</section>

<section class="slw-sec" id="sec1">
  <div class="section-title">
    <h2>Latest Listings</h2>
    <div class="section-subtitle">Newest Listings</div>
    <span class="section-separator"></span>
    <div style="text-align: center" class="listing-filters gallery-filters fl-wrap">
      <a class="gallery-filter gallery-filter-active" data-filter="*">Businesses
      </a>
      <a class="gallery-filter" data-filter=".restaurant">Professionals </a>
      <a class="gallery-filter" data-filter=".hotels">Handymen </a>
      <a class="gallery-filter" data-filter=".events">Government</a>
    </div>
  </div>
  <div class="listing-slider-wrap fl-wrap">
    <div class="listing-slider fl-wrap">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item listing_carditem">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/all/1.jpg" alt="" />
                    </a>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="geodir-category-opt_title">
                        <h4>
                          <a href="listing-single.html">The Goggi Restaurant</a>
                        </h4>
                        <div class="geodir-category-location">
                          <a><i class="fas fa-map-marker-alt"></i> 34-42
                            Montgomery St , NY, USA</a>
                        </div>
                      </div>
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.1</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                        <br />
                        <div class="reviews-count">26 reviews</div>
                      </div>
                      <div class="listing_carditem_footer fl-wrap">
                        <a class="listing-item-category-wrap">
                          <div class="listing-item-category red-bg">
                            <i class="fal fa-cheeseburger"></i>
                          </div>
                          <span>Restaurants</span>
                        </a>
                        <div class="price-level geodir-category_price">
                          <span class="price-level-item" data-pricerating="2"></span>
                          <span class="price-name-tooltip">Pricey</span>
                        </div>
                        <div class="post-author">
                          <a><img src="/assets/images/avatar/1.jpg" alt="" /><span>By , Alisa Noory</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item listing_carditem">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/all/1.jpg" alt="" />
                    </a>
                    <div class="geodir_status_date gsd_close">
                      <i class="fal fa-lock"></i>Close Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="geodir-category-opt_title">
                        <h4>
                          <a href="listing-single.html">Gym in the Center</a>
                        </h4>
                        <div class="geodir-category-location">
                          <a><i class="fas fa-map-marker-alt"></i> 70 Bright
                            St New York, USA</a>
                        </div>
                      </div>
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">5.0</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">7 reviews</div>
                      </div>
                      <div class="listing_carditem_footer fl-wrap">
                        <a class="listing-item-category-wrap">
                          <div class="listing-item-category blue-bg">
                            <i class="fal fa-dumbbell"></i>
                          </div>
                          <span>Fitness / Gym</span>
                        </a>
                        <div class="price-level geodir-category_price">
                          <span class="price-level-item" data-pricerating="3"></span>
                          <span class="price-name-tooltip">Moderate</span>
                        </div>
                        <div class="post-author">
                          <a><img src="/assets/images/avatar/1.jpg" alt="" /><span>By , Mark Rose</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item listing_carditem">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/all/1.jpg" alt="" />
                    </a>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="geodir-category-opt_title">
                        <h4>
                          <a href="listing-single.html">Moonlight Hotel</a>
                        </h4>
                        <div class="geodir-category-location">
                          <a><i class="fas fa-map-marker-alt"></i> 34-42
                            Montgomery St , NY, USA</a>
                        </div>
                      </div>
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.2</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                        <br />
                        <div class="reviews-count">3 reviews</div>
                      </div>
                      <div class="listing_carditem_footer fl-wrap">
                        <a class="listing-item-category-wrap">
                          <div class="listing-item-category yellow-bg">
                            <i class="fal fa-bed"></i>
                          </div>
                          <span>Hotels</span>
                        </a>
                        <div class="price-level geodir-category_price">
                          <span class="price-level-item" data-pricerating="4"></span>
                          <span class="price-name-tooltip">Ultra Hight</span>
                        </div>
                        <div class="post-author">
                          <a><img src="/assets/images/avatar/1.jpg" alt="" /><span>By , Nasty Wood</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item listing_carditem">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/all/1.jpg" alt="" />
                    </a>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="geodir-category-opt_title">
                        <h4>
                          <a href="listing-single.html">Shop in Aurora Center</a>
                        </h4>
                        <div class="geodir-category-location">
                          <a><i class="fas fa-map-marker-alt"></i> 40 Journal
                            Square Plaza, NJ, USA</a>
                        </div>
                      </div>
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">5.0</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">2 reviews</div>
                      </div>
                      <div class="listing_carditem_footer fl-wrap">
                        <a class="listing-item-category-wrap">
                          <div class="listing-item-category green-bg">
                            <i class="fal fa-cart-arrow-down"></i>
                          </div>
                          <span>Shopping</span>
                        </a>
                        <div class="price-level geodir-category_price">
                          <span class="price-level-item" data-pricerating="4"></span>
                          <span class="price-name-tooltip">Ultra Hight</span>
                        </div>
                        <div class="post-author">
                          <a><img src="/assets/images/avatar/1.jpg" alt="" /><span>By , Kliff Antony</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
        </div>
      </div>
      <div class="listing-carousel-button listing-carousel-button-next2">
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="listing-carousel-button listing-carousel-button-prev2">
        <i class="fas fa-caret-left"></i>
      </div>
    </div>
    <div class="tc-pagination_wrap">
      <div class="tc-pagination2"></div>
    </div>
  </div>
</section>

<section style="padding-top: 30px;padding-bottom: 0" id="sec1">
  <div class="section-title">
    <h2>Promoted Businesses</h2>
    <div class="section-subtitle">Promoted Listings</div>
    <span class="section-separator"></span>

    <div style="text-align: center" class="listing-filters gallery-filters fl-wrap">
      <a class="gallery-filter gallery-filter-active" data-filter="*">Entertainment</a>
      <a class="gallery-filter" data-filter=".restaurant">Food & Beverages</a>
      <a class="gallery-filter" data-filter=".hotels">Hotels</a>
      <a class="gallery-filter" data-filter=".events">Shops</a>
      <a class="gallery-filter" data-filter=".fitness">Gyms</a>
    </div>
  </div>

  <div class="listing-slider-wrap fl-wrap">
    <div class="listing-slider fl-wrap">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
          <!--  swiper-slide  -->
          <div class="swiper-slide">
            <div class="listing-slider-item fl-wrap">
              <!-- listing-item  -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <div class="geodir-js-favorite_btn">
                      <i class="fal fa-heart"></i><span>Save</span>
                    </div>
                    <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                      <img src="/assets/images/bg/latest-slider1.jpg" alt="" />
                    </a>
                    <div class="listing-avatar">
                      <a href="author-single.html"><img src="/assets/images/avatar/1.jpg" alt="" /></a>
                      <span class="avatar-tooltip">Added By <strong>Alisa Noory</strong></span>
                    </div>
                    <div class="geodir_status_date gsd_open">
                      <i class="fal fa-lock-open"></i>Open Now
                    </div>
                    <div class="geodir-category-opt">
                      <div class="listing-rating-count-wrap">
                        <div class="review-score">4.8</div>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                        <br />
                        <div class="reviews-count">12 reviews</div>
                      </div>
                    </div>
                  </div>
                  <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                      <div class="geodir-category-content-title-item">
                        <h3 class="title-sin_map">
                          <a href="listing-single.html">Luxary Resaturant</a><span class="verified-badge"><i
                              class="fal fa-check"></i></span>
                        </h3>
                        <div class="geodir-category-location fl-wrap">
                          <a><i class="fas fa-map-marker-alt"></i> 27th
                            Brooklyn New York, USA</a>
                        </div>
                      </div>
                    </div>
                    <div class="geodir-category-text fl-wrap">
                      <p class="small-text">
                        Sed interdum metus at nisi tempor laoreet. Integer
                        gravida orci a justo sodales.
                      </p>
                      <div class="facilities-list fl-wrap">
                        <div class="facilities-list-title">Facilities :</div>
                        <ul class="no-list-style">
                          <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi">
                            <i class="fal fa-wifi"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Parking">
                            <i class="fal fa-parking"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms">
                            <i class="fal fa-smoking-ban"></i>
                          </li>
                          <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly">
                            <i class="fal fa-dog-leashed"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="geodir-category-footer fl-wrap">
                      <a class="listing-item-category-wrap">
                        <div class="listing-item-category red-bg">
                          <i class="fal fa-cheeseburger"></i>
                        </div>
                        <span>Restaurants</span>
                      </a>
                      <div class="geodir-opt-list">
                        <ul class="no-list-style">
                          <li>
                            <a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact
                                Info</span></a>
                          </li>
                          <li>
                            <a href="#1" class="single-map-item" data-newlatitude="40.72956781"
                              data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span
                                class="geodir-opt-tooltip">On the map <strong>1</strong></span>
                            </a>
                          </li>
                          <li>
                            <div class="dynamic-gal gdop-list-link"
                              data-dynamicPath="[{'src': '/assets/images/all/1.jpg'},{'src': '/assets/images/all/1.jpg'}, {'src': '/assets/images/all/1.jpg'}]">
                              <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="price-level geodir-category_price">
                        <span class="price-level-item" data-pricerating="3"></span>
                        <span class="price-name-tooltip">Pricey</span>
                      </div>
                      <div class="geodir-category_contacts">
                        <div class="close_gcc">
                          <i class="fal fa-times-circle"></i>
                        </div>
                        <ul class="no-list-style">
                          <li>
                            <span><i class="fal fa-phone"></i> Call : </span><a>+38099231212</a>
                          </li>
                          <li>
                            <span><i class="fal fa-envelope"></i> Write : </span><a>yourmail@domain.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end -->
            </div>
          </div>
          <!--  swiper-slide end  -->
        </div>
      </div>
      <div class="listing-carousel-button listing-carousel-button-next2">
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="listing-carousel-button listing-carousel-button-prev2">
        <i class="fas fa-caret-left"></i>
      </div>
    </div>
    <div class="tc-pagination_wrap">
      <div class="tc-pagination2"></div>
    </div>
  </div>
  <section class="section-zero-padding">
    <div class="">
      <a href="listing.html" class="btn dec_btn color2-bg">Check Out All Businesses<i
          class="fal fa-arrow-alt-right"></i></a>
    </div>
  </section>
</section>


<section style="padding: 0px !important" class="video-section">
  <div class="backgroundImage">
    <div class="contentContainer">
      <div class="boxContainer">
        <div class="box">
          <div class="triangle"></div>
        </div>
      </div>
      <div class="firstText">
        <p>Digital Campaign</p>
      </div>
      <div class="secondText">
        <p>Get the best publicity with our directory program</p>
      </div>
      <div class="finalText1">
        <p style="color: white;margin-top:-5px;font-size: 16px;">
          Our Directory Platform Is Your Best Choice To Build Your Listing
          Profile With Complete Features And Digital Tools.
        </p>
      </div>
    </div>
  </div>
  <div class="counterBar">
    <div class="miniBar">
      <div class="one">
        <div class="value">
          <p>0</p>
        </div>
        <div class="name">Businesses</div>
      </div>
      <div class="one">
        <div class="value">
          <p>0</p>
        </div>
        <div class="name">Professionals</div>
      </div>
      <div class="one">
        <div class="value">
          <p>0</p>
        </div>
        <div class="name">Handymen</div>
      </div>
      <div class="one">
        <div class="value">
          <p>0</p>
        </div>
        <div class="name">Government</div>
      </div>
      <div class="one">
        <div class="value">
          <p>0</p>
        </div>
        <div class="name">Community</div>
      </div>
      <div class="two">
        <div class="value">
          <p class="user">0</p>
        </div>
        <div class="name">Users</div>
      </div>
    </div>
  </div>
</section>