<div class="mainSection" (click)="home()">
  <div class="container">
    <div class="whiteSection">
      <div>
        <div style="padding-bottom: 15%;padding-top: 40%">
        <div class="holmes">Autochap</div>
        </div>
        <span class="top">Automobiles and After Market</span><br />
        <span class="mid">Auto-Motivated</span><br />
        <span class="bottom">By Ornda Agency Pvt Ltd</span>
      </div>
      <div>
        <img class="imageMouse" src="assets/mouse.png" />
      </div>
    </div>
  </div>
</div>
